<% provide(:title, 'About Us') %>
<h1>About Johnslist</h1>
<p>
  This is an application to help local businesses and citizens to list extra items and services that they have available.
  The application is set up to keep each business/person's information private and secure.  List as many items as you
  want and you will be contacted when someone wants to purchase them from you.
</p>