<% provide(:title, 'Contact') %>
<h1>Contact Owner</h1>
<%= form_tag "#" do %>
  <%= text_field_tag 'subject', nil, :placeholder => 'Email subject ...' %>
  <%= text_area_tag 'content', nil, :placeholder => 'Email content ...', :size => "25x10" %>
  <%= submit_tag "Submit", :class => 'btn btn-large btn-primary' %>
<% end %>